@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintenance</title>
</head>
<body>
    <hgroup>
        <h1>Under Maintenance.</h1>
        <h2>This website is under maintenance now.Please be patient.</h2>
       
    </hgroup>
    <div>
        <img src="~/Styles/maintenance.png" />
    </div>
</body>
</html>
