@{
    ViewBag.Title = "Role";
}

@section styles{    
   <style type="text/css">
       .fullHeight {
           height:auto;
       }
    </style>
    }

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Roles
            <small></small>
        </h1>
       
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box ">
            <div class="box-header with-border">
                <h3 class="box-title">Roles</h3>
            </div>
            <div class="box-body container">
                <div id="tree" style="width:700px"></div>
            </div><!-- /.box-body -->
            <div class="box-footer">

            </div><!-- /.box-footer-->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

@section scripts{
    
<script src="~/plugins/treeview/bootstrap-treeview.js"></script>    
    }
@section jsCode{
    <script type="text/javascript">
        $(document).ready(function () {            
          

            $("#tree").treeview({
                data: getTree(),               
                levels:8
            });   



            function getTree() {




                var tree = [
                          {
                              text: "ED",
                              icon: "glyphicon glyphicon-user",
                              nodes: [
                                {
                                    text: "CPD HEAD",
                                    icon: "glyphicon glyphicon-user",
                                    nodes: [
                                        {
                                            text: "CPD",
                                            icon: "glyphicon glyphicon-user",
                                            nodes: [
                                                {
                                                    text: "Accounts Head",
                                                    icon: "glyphicon glyphicon-user"

                                                },
                                                  {
                                                      text: "Center Manager",
                                                      icon: "glyphicon glyphicon-user",
                                                      nodes: [
                                                        {
                                                            text: "Manager",
                                                            icon: "glyphicon glyphicon-user",
                                                            nodes: [
                                                                {
                                                                    text: "Sales Individual",
                                                                    icon: "glyphicon glyphicon-user",

                                                                },
                                                                {
                                                                    text: "Accounts",
                                                                    icon: "glyphicon glyphicon-user",

                                                                },
                                                                {
                                                                    text: "Technical Head",
                                                                    icon: "glyphicon glyphicon-user",
                                                                    nodes: [
                                                                        {
                                                                            text: "Technical Individual",
                                                                            icon: "glyphicon glyphicon-user",
                                                                        }
                                                                    ]
                                                                }


                                                            ]
                                                        }
                                                      ]
                                                  }

                                            ]
                                        }
                                    ]
                                    
                                }
                              ]
                          }
                ];
               

                var jsonTree = JSON.stringify(tree);              
                return jsonTree;
            };
          
            

        })

    </script>
    
    }