@model IEnumerable<SMS.Models.ViewModel.CustomerCertificateStatusVM>

@{
    ViewBag.Title = "CertificateStatus";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h4>
            Certificate Status
        </h4>       
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <form id="frmIndex" action="@Url.Action("ReceiptList")" method="post" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div class="box box-info">


                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>Photo Status</th>
                                            <th>Feedback Status</th>
                                            <th>ProjectReport Status</th>
                                            <th>TrainerApproval Status</th>
                                            <th>LeaderApproval Status</th>
                                            <th>Fee Status</th>
                                            <th>Certificate Staus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                                        {
                                            <tr>
                                                <td>
                                                    @(item.Data.CourseName)
                                                </td>
                                                <td>
                                                    @if (item.Data.IsPhotoUploaded)
                                                    {
                                                        if (!item.Data.IsPhotoRejected)
                                                        {
                                                            if (item.Data.IsPhotoVerified)
                                                            {
                                                                <small class="label label-success"><i class="fa fa-thumbs-o-up"></i> VERIFIED</small>
                                                            }
                                                            else
                                                            {
                                                                <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i> NOT VERIFIED</small>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <small class="label label-danger"><i class="fa fa-clock-o"></i> REJECTED</small>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i> NOT UPLOADED</small>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Data.IsFeedbackSubmitted)
                                                    {
                                                        <small class="label label-success"><i class="fa fa-thumbs-o-up"></i> SUBMITTED</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i> NOT SUBMITTED</small>
                                                    }

                                                </td>
                                                <td>
                                                    @if (item.Data.IsProjectUploaded)
                                                    {
                                                        <small class="label label-success"><i class="fa fa-thumbs-o-up"></i>  UPLOADED</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i> NOT UPLOADED</small>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Data.IsTrainerVerified)
                                                    {
                                                        if (item.Data.IsTrainerApproved)
                                                        {
                                                            <small class="label label-success"><i class="fa fa-thumbs-o-up"></i>  APPROVED</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  REJECTED</small>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  NOT VERIFIED</small>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Data.IsLeaderVerified)
                                                    {
                                                        if (item.Data.IsLeaderApproved)
                                                        {
                                                            <small class="label label-success"><i class="fa fa-thumbs-o-up"></i>  APPROVED</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  REJECTED</small>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  NOT VERIFED</small>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Data.IsFeePaid)
                                                    {
                                                        <small class="label label-success"><i class="fa fa-thumbs-o-up"></i>  PAID</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  NOT PAID</small>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Data.IsCertificateIssued)
                                                    {
                                                        <small class="label label-success"><i class="fa fa-thumbs-o-up"></i>  PROCESSED</small>
                                                    }
                                                    else
                                                    {
                                                        <small class="label label-danger"><i class="fa fa-thumbs-o-down"></i>  NOT PROCESSED</small>
                                                    }
                                                </td>



                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix" style="height:20px">

                        </div><!-- /.box-footer -->
                    </div>

                    <!-- /.box -->
                </div>

            </form>
        </div>
        <!-- Default box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pageScript")
    <script src="~/plugins/jQueryBlockUI/jquery.blockUI.js"></script>
}
